* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #4cc9f0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7209b7;
}

.hide {
  display: none !important;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 5rem;
  text-shadow: -1px -1px 0px #bde0fe, 3px 3px 0px #bde0fe, 6px 6px 0px #bde0fe;
}

.btn {
  background: #f72585;
  border: 1px solid #f72585;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Patrick Hand", cursive;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1rem;
  min-height: 2.5rem;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn:hover,
.btn:active {
  background-color: #FFFFFF;
  background-position: 0 0;
  color: #FF4742;
}

.btn:active {
  opacity: 0.5;
}

#modal {
  background: #f72585;
  border: 10px solid white;
  font-size: 3.125rem;
  font-family: "Patrick Hand", cursive;
  color: #fff;
  position: fixed;
  border-radius: 1.25rem;
  top: 20%;
  left: 25%;
  height: 50vh;
  width: 50vw;
  transition: all 0.5s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#status-text {
  background-color: #f72585;
  border-radius: 15px;
  font-size: 3.125rem;
  text-align: center;
  margin-bottom: 0.938rem;
  padding: 1.25rem;
  width: 35.625rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#language-box {
  background-color: #bde0fe;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 0.938rem;
  width: 31.25rem;
  height: 18.75rem;
  color: #3a0ca3;
  font-size: 2.188rem;
  font-family: "Patrick Hand", cursive;
  text-align: center;
  margin-top: 3.125rem;
}

#gameContainer {
  font-family: "Patrick Hand", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cells {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 37.5rem;
  height: 37.5rem;
  margin: 1.875rem;
  background-color: #f72585;
  border: 1.25rem solid #3a0ca3;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 50px;
}
#cells .cell {
  width: 100%;
  height: 100%;
  border: 0.938rem solid #7209b7;
  position: relative;
  font-size: 3.125rem;
  cursor: pointer;
}
#cells :nth-child(1),
#cells :nth-child(2),
#cells :nth-child(3) {
  border-top: 0.938rem solid #f72585;
}
#cells :nth-child(1),
#cells :nth-child(4),
#cells :nth-child(7) {
  border-left: 0.938rem solid #f72585;
}
#cells :nth-child(3),
#cells :nth-child(6),
#cells :nth-child(9) {
  border-right: 0.938rem solid #f72585;
}
#cells :nth-child(7),
#cells :nth-child(8),
#cells :nth-child(9) {
  border-bottom: 0.938rem solid #f72585;
}

.circle::after {
  content: "";
  width: 50%;
  height: 50%;
  color: #7209b7;
  border-radius: 50%;
  border: 0.938rem solid #7209b7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cross::after {
  box-sizing: border-box;
  content: "";
  width: 0;
  height: 50%;
  border-left: 0.938rem solid #7209b7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross::before {
  box-sizing: border-box;
  content: "";
  width: 0;
  height: 50%;
  border-left: 0.938rem solid #7209b7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* ------------------------------------mobile--------------------------------------------- */
@media (max-width: 845px) {
  #language-box {
    width: 22.25rem;
    height: 19.75rem;
    font-size: 1.6rem;
  }
  #cells {
    width: 19.5rem;
    height: 19.5rem;
  }
  #cells .cell {
    border: 0.588rem solid #7209b7;
  }
  #cells :nth-child(1),
  #cells :nth-child(2),
  #cells :nth-child(3) {
    border-top: 0.938rem solid #f72585;
  }
  #cells :nth-child(1),
  #cells :nth-child(4),
  #cells :nth-child(7) {
    border-left: 0.938rem solid #f72585;
  }
  #cells :nth-child(3),
  #cells :nth-child(6),
  #cells :nth-child(9) {
    border-right: 0.938rem solid #f72585;
  }
  #cells :nth-child(7),
  #cells :nth-child(8),
  #cells :nth-child(9) {
    border-bottom: 0.938rem solid #f72585;
  }
  #status-text {
    font-size: 1.65rem;
    width: 18.625rem;
  }
  #modal {
    left: 10%;
    height: 344px;
    width: 325px;
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
